<!DOCTYPE HTML>
<html>
<head>
	<title>RoboTrucker</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
			
	<script src="js/gameApp.js"></script>
	<script src="js/cardController.js"></script>
	<script src="js/gameController.js"></script>
	<script src="js/playerController.js"></script>
	<script src="js/programController.js"></script>
	<script src="js/mathService.js"></script>
	<script src="js/mapService.js"></script>
	<script src="js/playerService.js"></script>
	<script src="js/programService.js"></script>
	<script src="js/cardData.js"></script>
	<script src="js/gameData.js"></script>
	<script src="js/mapData.js"></script>
	
</head>
<body ng-app="gameApp">

	<div class="row">
		
		<div ng-controller="gameController" class="gameControllerContainer col-md-8">
			<h1>Game board</h1>
			<canvas width="400" height="400" id="gameCanvas" class="gameCanvas"></canvas>
		</div>
		
		<div ng-controller="cardController" class="col-md-2">
			<h1>Commands</h1>
			<div ng-repeat="card in cardData.cards">
				<button ng-click="useCard(card)">{{card.title}}</button>
			</div>
		</div>
		
		<div ng-controller="programController" class="col-md-2">
			<h1>Program</h1>
			<div ng-repeat="card in programService.program track by $index">
				{{card.title}}
			</div>
			<button ng-click="executeProgram()">Execute program</button>
		</div>
		
		<div ng-controller="playerController" class="col-md-2">
			<h1>Players</h1>
			<div ng-repeat="player in gameData.players">
				{{player.id}}
				<span ng-show="playerService.currentPlayer == player.id">*</span>
			</div>
			<button ng-click="endTurn()">End turn</button>
		</div>
		
	</div>
		
</body>
</html>